@font-face {
  font-family: "Righteous-Regular";
  src: url(assets/fonts/Righteous-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Righteous-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  border: 1px solid #415243;
  padding: 20px;
}

.footer {
  background-color: #829985;
  color: black;
}

.header {
  background-color: #829985;
}

.main {
  background-color: #fafafa;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

nav > ul > li {
  display: inline-block;
}

.nav-list {
  list-style: none;
}

.nav-link {
  font-size: 22px;
  text-transform: uppercase;
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}

.section {
  width: 50%;
}

.contacts-link,
.experiences-link {
  text-decoration: none;
  color: #829985;
}

.contacts-link:hover {
  text-decoration: none;
  color: #415243;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.section-title {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;

  padding-left: 20px;
  margin: 30px;
}

h2 {
  background-color: #829985;
}

#name {
  font-size: 45px;
  color: black;
  margin-top: 80px;
}

#profession {
  font-size: 20;
  color: black;
  background-color: #fafafa;
}

.experiences {
  margin: 50px;
}

.footer-link {
  align-items: flex-end;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.row {
  padding: 20px 0;
  width: 100%;
  border-bottom: solid 2px #415243;
}

#photo {
  position: relative;
}

#photo img {
  border: 20px solid #fafafa;
  border-top-width: 50px;
  border-bottom-width: 50px;
  box-shadow: 3px 3px 6px #415243;
}

#about-me-p,
#education-p,
#experiences-link {
  margin-left: 40px;
}
